{% extends "_layout.html" %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index')}}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#absensi">Daftar Wajah</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#transferlearning">Transfer Learning</a>
    </li>
{% endblock %}


{% block content %}

<section id="daftar">
    <div class="container">
        <div class="text-center justify-content-center">
            <h1>Pendaftaran Data Wajah</h1>
            <p class="mx-auto">Input nama dan tunggu kamera muncul serta mengambil gambar wajah Anda hingga selesai. 
            Kamera akan menyimpan gambar wajah Anda sebanyak 500 gambar, ubahlah beberapa kali posisi wajah dengan menyamping dan juga beberapa ekspresi tersenyum.</p>
        </div>
        <div class="row ">
            <div class="col-12" style="width: 50%;">
                <div id="my_camera" class="col-sm-12" style="width:640px; height:480px;"></div>
                <div class="col-12">
                    <input id="class_name" type="text" class="form-control form-control-sm" style="margin-top: 5%; margin-bottom: 2%;">
                </div>
                <div class="col-6" >
                    <a id="open_camera" class="btn btn-outline-dark">Turn On</span></a>
                    <a id="capture_photo" class="btn btn-brand">Capture</span></a>
                    <a id="close_camera" class="btn btn-outline-dark">Close</span></a>
                </div>
            </div>
            <div class="col-12" style="width: 50%;">
                <div id="my_result" class="col-sm-12" style="overflow-y: scroll; height: 480px;"></div>
            </div>
        </div>
    </div>
</section>


<section id="transferlearning">
    <div class="container">
        <div class="text-center justify-content-center">
            <h3>Transfer Learning</h3>
        </div>
        <div class="col-12" style="margin-top: 5%; margin-bottom: 2%;">
            <button id="run" class="btn btn-brand">Run Transfer Learning</button>
            <button id="check" class="btn btn-outline-dark">Check Status</button>
        </div>
        <div class="col-12">
            <div id="result" class="bg-secondary p-3 small text-light" style="height: 360px; overflow-y: scroll;"></div>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}
<script>
    $("#open_camera").click(function(event){
        Webcam.attach( '#my_camera' );
    });
    $("#capture_photo").click(function(event){
        Webcam.snap( function(data_uri) {
            var content = $('#my_result').html();
            $('#my_result').html('<img src="'+data_uri+'" style="width:80px; height:60px;"/>' + content);
            var class_name = $('#class_name').val();
            Webcam.upload(data_uri, "/upload_photo?class_name=" + class_name, function(code, text) {
                console.log('upload photo', code, text);
            });
        } );
    });

    $("#close_camera").click(function(event){
        $('#my_result').html('');
        Webcam.reset();
    });
</script>

<script type="text/javascript" charset="utf-8">
    
    var socket = io();

    $("#run").click(function(event){
        $("#result").html('');
        socket.emit('run', {data: 'run data'});
    });

    $("#check").click(function(event){
        socket.emit('check', {data: 'check data'});
    });

    socket.on('feedback', function(msg) {
        var feedback_log = $("#result").html();
        $("#result").html(feedback_log + "<br>" + msg);
    });

    socket.on('status', function(msg) {
        alert("background job status " + ((msg === false)? 'idle' : 'running'));
    });

</script>
{% endblock %}